body{  background-color: sandybrown;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px; }
        h1{color: blue;}
        h2{ color: green;}
        p{text-align: justify;}